<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgz.banlv.mapper.ScenicspotResourceMapper">

<!--    <select id="selectScenicspotIdByResourceId" resultType="Long">-->
<!--        select scenicspot_id-->
<!--        from scenicspot_resource-->
<!--        where-->
<!--        resource_id = #{resourceId,jdbcType=NUMERIC}-->
<!--    </select>-->
<!--    <select id="selectResource_idByScenicSpot_idAndScenicSpot_resource_useTrue" resultType="Long">-->
<!--        select resource_id-->
<!--        from scenicspot_resource-->
<!--        where-->
<!--        scenic_spot_id = #{scenicSpot_id,jdbcType=NUMERIC}-->
<!--         AND scenic_spot_resource_use = true-->
<!--    </select>-->
<!--    <select id="selectAllByScenicSpot_idAndScenicSpot_resource_useTrue" resultType="ScenicspotResource">-->
<!--        select-->
<!--        *-->
<!--        from scenicspot_resource-->
<!--        where-->
<!--        scenicSpot_id = #{scenicSpot_id,jdbcType=NUMERIC}-->
<!--        AND scenicSpot_resource_use = true-->
<!--    </select>-->
</mapper>
